.DS_Store
.git
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.coverage
htmlcov
runs/*
!runs/.gitkeep

ui/.svelte-kit
ui/build
ui/node_modules
ui/test-results

__pycache__
*.py[cod]
build
dist
*.egg-info
